<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleDocumentTypes</key>
  <array>
    <dict>
      <key>CFBundleTypeIconFile</key>
      <string>slidex-project.icns</string>
      <key>CFBundleTypeName</key>
      <string>SlideX Project</string>
      <key>CFBundleTypeRole</key>
      <string>Editor</string>
      <key>LSHandlerRank</key>
      <string>Owner</string>
      <key>LSItemContentTypes</key>
      <array>
        <string>app.slidex.project</string>
      </array>
      <key>LSTypeIsPackage</key>
      <true/>
    </dict>
  </array>
  <key>UTExportedTypeDeclarations</key>
  <array>
    <dict>
      <key>UTTypeConformsTo</key>
      <array>
        <string>com.apple.package</string>
      </array>
      <key>UTTypeDescription</key>
      <string>SlideX Project</string>
      <key>UTTypeIdentifier</key>
      <string>app.slidex.project</string>
      <key>UTTypeTagSpecification</key>
      <dict>
        <key>public.filename-extension</key>
        <array>
          <string>slidex</string>
        </array>
        <key>public.mime-type</key>
        <string>application/x-slidex</string>
      </dict>
    </dict>
  </array>
</dict>
</plist>
